.form-section {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form-section input {
  width: calc(100% - 10px);
  margin: 3px 0;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 12px;
}

.row-form {
  display: flex;
  align-items: center;
  gap: 4px;
}

.row-form input.desc {
  flex: 1.5;
}

.row-form input.amt {
  width: 60px;
  text-align: right;
}

button.del-row {
  background: #ff5a5a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 3px 8px;
}

button.add-row {
  background: #77ab30;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
}

button.add-row:hover {
  background: #5e8d27;
}
